
html, body {
    background: white;
    margin: 0;
}
header {
    background: black;
    display: flex;
    height: 5rem;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-right: 1rem;
}
header nav a {
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    color: yellow;
    font-family: 'Ubuntu', sans-serif;
    width: 20%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


header img {
    width: auto;
    height: auto;
    border-radius: 50%;
    margin: 1rem;
    display: block;
    margin-right: auto;
}
main {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
main p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
    color: black;
}
main * {
    margin: 1rem 0;
}

footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}
footer p {
    text-align: center;
    padding-top: 2rem;
    color: white;
}

section, #t10 {
    outline: yellow solid 1px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    
}
section p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    flex-grow: 1;
    text-indent: 5%;
}
section h2 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5%;
}
section ul, section ol {
    margin: 0 5% ;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
}

p, h1, h2, li {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
#t10 li{
    list-style-type: upper-roman;
    list-style-position: hanging;
}
#score p {
    margin: 1rem 0;
}
#about {
    display: flex; 
    flex-direction: column;
}
#about p {
    margin: 1rem;
}
.last {
    outline: none;
}

h1 {
    background: linear-gradient(to bottom, #000000 22%,#ffee04 24%, #000000 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
font-family: 'Playfair Display', serif;
    position: relative;
	text-transform: uppercase;	
}
