

html {
<<<<<<< HEAD
    background: black;
=======
    background-image: url(https://images.unsplash.com/photo-1603411951734-23ae414fe112?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBhbW9sZWR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80) ; 
    background-color: black;
>>>>>>> d9a40f13e001245e89e727ef9e9721616e86db4f
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    background-size: 90rem;
    margin: 0;
}
body {
    margin: 0;
}
header {
    /* position: relative; */
    background: gray;
    display: flex;

}
header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    /* outline: red 2px solid; */
    margin-right: 1rem;
}
header nav a {
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    color: yellow;
    font-family: 'Ubuntu', sans-serif;
    /* outline: blue solid 1px; */
    width: 20%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
header nav a:hover {
    animation-name: bord;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes bord {
    to {
        border-bottom: black solid 2px;
        color: black;
    }
}

header img {
    width: 5rem;
    height: auto;
    border-radius: 50%;
    margin: 2rem;
    display: block;
    margin-right: auto;
}
header p {
    font-family: 'Ubuntu', sans-serif;
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
main {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
h2 {
    color: white;
}

main p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    margin: 2rem 0;
    width: 100%;
    text-align: center;
    color: white;
}
main * {
    margin: 2rem 0;
    width: 100%;
}
button {
    width: 5rem;
    height: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10%;
    background: yellow;
    font-weight: bold;
}
#container {
    background: gray;
    height: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 90%;

}
#progress {
    background: lightgreen;
    margin: auto 1rem ;
    width: 5%;
    /* animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards; */
    color: lightgreen;
}
/* @keyframes grow {
    to {
        width: 95%;
    }
} */
footer {
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}
footer img {
    width: 4rem;
    border-radius: 50%;
    display: block;
}
footer p {
    text-align: center;
    padding-top: 2rem;
}
#pb {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
#disc {
    font-size: 0.75rem;
}
section, #t10 {
    outline: yellow solid 1px;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
section p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    flex-grow: 1;
    margin-right: 1.5rem;
}
section h2 {
    margin: 2rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    flex-shrink: 3;
}
#t10 li {
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
    /* flex-grow: 1; */
    margin-right: 1.5rem;
}
#t10 h2 {
    margin: 2rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    flex-shrink: 3;
    padding-top: 1.5rem;

}
#t10 ol {
    margin-right: 1.5rem;
    margin-left: auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
    border-left: black;
}
/* nav a {
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
}
nav a:hover {
    background:darkcyan;
} */
p, h1, h2, li {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#top10 li{
    list-style-type: upper-roman;
    list-style-position: hanging;
}
#gg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gg section div{
    color: black;
    /* outline: red solid 2px; */
    text-align: center;
    background: yellow;
    margin: 0.25rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: 2rem auto;
    border-radius: 50%;
}
#gg section div:hover {
    animation-name: blur;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes blur {
    to {
        transform: rotate(360deg);
    }
}
#nums {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    outline: none;
}
#gg p {
    margin: 2rem;
    text-align: center;
}
#gg h3 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
}
#indicator {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#yesno, #score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#yesno p, #score p {
    text-align: center;
}
#seventh {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#seventh p {
    text-align: center;
}
#seventh #entrybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: darkgray;
    outline: none;
}
input {
    width: 30%;
    height: 2rem;
}
#left {
    text-align: center;
    /* outline: blue solid; */
    margin: 1rem 0;
}
#hints {
    margin: 0.5rem;
    font-size: 0.75rem;
}
#atsleft {
    font-size: 1.5rem;
}
#container {
    /* outline: red solid; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
#container div {
    /* outline: blue solid; */
    background:gray ;
    color: gray;
}
#resetAll{
    width: 7rem;
    height: 4rem;
    background: url(https://i.pinimg.com/originals/e3/ea/78/e3ea780936fa4fd667123bd663afe05e.gif);
    color: yellow;
}
#resetAll:hover {
    animation-name: redthing;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}
@keyframes redthing {
    to {
        box-shadow: 10px 0px 7px red,
        -10px 0px 7px red,
        0px 10px 7px red,
        0px -10px 7px red;
    }
}
.last {
    display: flex;
    flex-direction: column;
    outline: none;
}

#finished {
    width: 25%;
    animation-duration: 2s;
    margin: auto;

}

#score p {
    margin: 1rem 0;
}
#retake {
    color: black;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes appear {
    to {
        color: white;
    }
}
