
html, body {
    background: black;
    margin: 0;
}
header {
    background: hsla(0, 0%, 50%, 0.515);
    display: flex;
    height: 5rem;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-right: 1rem;
}
header nav a {
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    color: yellow;
    font-family: 'Ubuntu', sans-serif;
    width: 20%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
header nav a:hover {
    animation-name: bord;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes bord {
    to {
        border-bottom: black solid 2px;
        color: black;
    }
}
header img {
    width: auto;
    height: auto;
    border-radius: 50%;
    margin: 1rem;
    display: block;
    margin-right: auto;
}
main {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
main p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center;
    color: white;
}
main * {
    margin: 1rem 0;
}
button {
    width: 5rem;
    height: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10%;
    background: yellow;
    font-weight: bold;
}
#container {
    background: darkgray;
    height: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: 90%;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 2rem;
}
#container div {
    background:hsla(0, 0%, 50%, 0.515) ;
    color: hsla(0, 0%, 50%, 0.515);
    width: 15%;
}
footer {
    background: hsla(0, 0%, 50%, 0.515);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}
footer p {
    text-align: center;
    padding-top: 2rem;
}

section, #t10 {
    outline: yellow solid 1px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    
}
section p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    flex-grow: 1;
    text-indent: 5%;
}
section h2 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5%;
}
section ul, section ol {
    margin: 0 5% ;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
    border-left: black;
}

p, h1, h2, li {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#t10 li{
    list-style-type: upper-roman;
    list-style-position: hanging;
}
#score p {
    margin: 1rem 0;
}
#about {
    display: flex; 
    flex-direction: column;
}
#about p {
    margin: 1rem;
}
.last {
    outline: none;
}


/* #retake {
    color: black;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes appear {
    to {
        color: white;
    }
} */
/*
#resetAll{
    width: 7rem;
    height: 4rem;
    background: url(https://i.pinimg.com/originals/e3/ea/78/e3ea780936fa4fd667123bd663afe05e.gif);
    color: yellow;
}
#resetAll:hover {
    animation-name: redthing;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}
@keyframes redthing {
    to {
        box-shadow: 10px 0px 7px red,
        -10px 0px 7px red,
        0px 10px 7px red,
        0px -10px 7px red;
    }
} */
/* .last {
    display: flex;
    flex-direction: column;
    outline: none;
}
.last ul li{
    width: 10rem;
}

#finished {
    width: 25%;
    animation-duration: 2s;
    margin: auto;

} */

/* #progress {
    background: lightgreen;
    margin: auto 1rem ;
    width: 5%;
    /* animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards; */

/* @keyframes grow {
    to {
        width: 95%;
    }
} */
/* #pb {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
#disc {
    font-size: 0.75rem;
} */
/* #t10 li {
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
    /* flex-grow: 1; */

/* #t10 h2 {
    margin: 2rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    flex-shrink: 3;
    padding-top: 1.5rem;

} */
/* #t10 ol {
    margin-right: 1.5rem;
    margin-left: auto;
} */
/* nav a {
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
}
nav a:hover {
    background:darkcyan;
} */
/* #indicator {
    font-family: 'Ubuntu', sans-serif;
    color: white;
} */
/* #yesno, #score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#yesno p, #score p {
    text-align: center;
}
#seventh {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#seventh p {
    text-align: center;
}
#seventh #entrybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: darkgray;
    outline: none;
}
input {
    width: 30%;
    height: 2rem;
}
#left {
    text-align: center;
    /* outline: blue solid; */

/* #hints {
    margin: 0.5rem;
    font-size: 0.75rem;
} */
/* #atsleft {
    font-size: 1.5rem;
} */